<h2>About 42 School</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde numquam illum adipisci odio! Blanditiis ab neque hic quis commodi officiis et nobis ex fuga nemo, nisi quo consequatur facilis magni!</p>

<h2>Features</h2>
<ul>
  <li>Responsive design</li>
  <li>Mobile friendly</li>
</ul>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos iste earum consequuntur, alias illo consequatur tenetur velit ullam dignissimos fuga nobis sint facere veniam vel dolorem quibusdam, eligendi excepturi perspiciatis.</p>

<hr />
<!--
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
-->